
<html>
  
  <% if logged_in? %>
   <div class="row">
    <aside class="row1">
      <section class="user_info">
        <%= render 'shared/user_info' %>
      </section>
      <section class="micropost_form">
        <%= render 'shared/micropost_form' %>
      </section>
    </aside>
    <div class="feed">
      <h3>Micropost Feed</h3>
        <%= render 'shared/feed' %>
    </div>
  </div>
  
  
  <% else %>
    <body bgcolor="#f5f5f5">
    <br>
    <table border = 0 width = 500 align = center bgcolor= #f5f5f5>
        <tr>
            <td>
                <br/><br/>
                 Connect with friends and the world around you on Fakebook.<br/><br/><br/>
                <img src = main_page1.png>
            </td>
            <td>
                <%=form_for(:session, url: login_path) do |f|  %>
                    <div class="msg_err"><%= @msg_login_err %></div>
                    <%=f.label :email  %>
                    <%=f.text_field :email  %>
                    <br/>
                    <%=f.label :password  %>
                    <%=f.password_field :password  %>

                    <br/><br/>
                    <%= f.submit "Login in", class:"button"   %>
                <% end %>

                <p> New User? <%= link_to "Sign up now", signup_path %></p>
            </td>
         </tr>

    </table>

    <table>
      <tr>
        <td>
   

        </td>
      </tr>
    </table>

    <hr/>
    <br>
    <table border = 0 align = center>
      <tr>
        <td>
          <font size = 2 >
            한국어 English(US) Español  Français(France) 中文(简体) Português(Brasil) Italiano Deutsch हिन्दी
          </font>
          <br><br>
          <font size = 1> Fakebook © 2015</font>

        </td>
      </tr>

    </table>
    <br><br><br>




    </body>
    <% end %>
</html>
