<font size = 1><h1>main >> login</h1></font>
<html>
    <body bgcolor="#f5f5f5">
        <table border =1 align=center width="500">
          <tr>
            <td>
               <font size = 5>Fakebook login</font>
              <br><br>
            </td>

          </tr>
          <tr>
            <td align="center">
              <br><br>
              <%=form_for(:session, url: login_path) do |f|  %>
                  <div class="msg_err"><%= @msg_login_err %></div>
                  <%=f.label :email  %>
                  <%=f.text_field :email  %>
                  <br><br>
                  <%=f.label :password  %>
                  <%=f.password_field :password  %>

                  <br/><br/>
                  <%= f.submit "Login in", class:"button"   %>
              <% end %>

              <p> New User? <%= link_to "Sign up now", signup_path %></p>

            </td>
          </tr>
        </table>

    </body>

</html>

