<h1>Sessions#new</h1>
<p>Find me in app/views/sessions/new.html.erb</p>
<h1>login</h1>

    <%=form_for(:session, url: login_path) do |f|  %>
  
      
       <%=f.label :email  %>
      <%=f.text_field :email  %>
      
       <%=f.label :password  %>
      <%=f.password_field :password  %>
      
      <br/><br/>
      <%= f.submit "Login in", class:"button"   %>
    <% end %>
    
    <p> New User? <%= link_to "Sign up now", signup_path %></p>