
<aside style="width:60%; margin-top: 2cm;float:right;">
<div class="micropostdiv">
    <% if @user.microposts.any? %>
      <h3>Total Posts (<%= @user.microposts.count %>)</h3>
      <ol class="microposts">
        <%= render @user.microposts %>
      </ol>
    <% else %>
    <h1> no microposts yet</h1>
    <% end %>
</div>
</aside>
<article>
   <h1><%= @user.name   %></h1>
<table style="width:40%;;"> 
<tr> 
<td><h4>Email:</h4></td>  
<td><h3><%= @user.email%></h3></td>
</tr>
<tr> 
<td><h4>Work:</h4></td>  
<td> <h4><%= @user.work %></h4>  </td>
</tr>
<tr> 
<td><h4>Education Qualification:</h4></td>  
<td><h3><%=@user.education%></h3></td>
</tr>
<tr> 
<td><h4>About:</h4></td>  
<td><h3><%=@user.about %></h3></td>
</tr>
<tr> 
<td><h4>Relationship:</h4></td>  
<td><h3><%=@user.relatioship %></h3></td>
</tr>
<tr> 
<td><h4>Date Of Birth</h4></td>  
<td><h3><%=@user.dob %></h3></td>
</tr>
<tr> 
<td><h4>Interests</h4></td>  
<td><h3><%=@user.interests %></h3></td>
</tr>
<tr> 
<td><h4>Life Events</h4></td>  
<td><h3><%=@user.events  %></h3></td>
</tr>
</table>
</article>