<br/>
<div class="profile">
    <aside>
        <div class="micropostdiv">
            <% if @user.microposts.any? %>
              <h3>Total Posts (<%= @user.microposts.count %>)</h3>
              <ol class="microposts">
                <%= render @user.microposts %>
              </ol>
            <% else %>
            <h1> no microposts yet</h1>
            <% end %>
        </div>
    </aside>

    <div class="user_area">
       <h2>
         <%= @user.name   %>
         <span><%= link_to "edit",   edit_user_path(current_user) %></span>
       </h2>
        <table class="user_info">
            <tr>
                <td class="td_title">E-mail: </td>
                <td class="td_desc"><%= @user.email%></td>
            </tr>
            <tr>
                <td class="td_title">Work: </td>
                <td class="td_desc"><%= @user.work %></td>
            </tr>
            <tr>
                <td class="td_title">Education: </td>
                <td class="td_desc">
                  <% if @user.education != nil && @user.education != "" %>
                    <%=@user.education%>
                  <% else %>
                      <%= link_to "add",   edit_user_path(current_user) %>
                  <% end %>
                </td>
            </tr>
            <tr>
                <td class="td_title">About: </td>
                <td class="td_desc">
                  <% if @user.about != nil && @user.about != "" %>
                      <%=@user.about%>
                  <% else %>
                      <%= link_to "add",   edit_user_path(current_user) %>
                  <% end %>
                </td>
            </tr>
            <tr>
                <td class="td_title">Relationship: </td>
                <td class="td_desc">
                  <% if @user.relatioship != nil && @user.relatioship != "" %>
                      <%=@user.relatioship%>
                  <% else %>
                      <%= link_to "add",   edit_user_path(current_user) %>
                  <% end %>
                </td>
            </tr>
            <tr>
                <td class="td_title">Date Of Birth: </td>
                <td class="td_desc">
                  <% if @user.dob != nil && @user.dob != "" %>
                      <%=@user.dob%>
                  <% else %>
                      <%= link_to "add",   edit_user_path(current_user) %>
                  <% end %>
                </td>
            </tr>
            <tr>
                <td class="td_title">Interests: </td>
                <td class="td_desc">
                  <% if @user.interests != nil && @user.interests != "" %>
                      <%=@user.interests%>
                  <% else %>
                      <%= link_to "add",   edit_user_path(current_user) %>
                  <% end %>
                </td>
                </td>
            </tr>
            <tr>
                <td class="td_title">Life Events: </td>
                <td class="td_desc">
                  <% if @user.events != nil && @user.events != "" %>
                      <%=@user.events%>
                  <% else %>
                      <%= link_to "add",   edit_user_path(current_user) %>
                  <% end %>
                </td>
            </tr>
        </table>
    </div>
</div>