<!DOCTYPE html>
<html>
<head>
  <title>Fakebook</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <header>
    <div class="header">
      <%= link_to "fAKEbOOK", root_path, id: "logo" , class: "logo"%>
      <nav>
        <ul class="navigation">
          <li><%= link_to "hOME",   root_path %></li>
          <li><%= link_to "hELP",   help_path  %></li>
          <li><%= link_to "aBOUT",  about_path %></li>
          <% if logged_in?%>
            <li><%= link_to "uSERS",   users_path %></li>
            <li><%= link_to "pROFILE",   current_user %></li>
            <li><%= link_to "sETTINGS",   edit_user_path(current_user) %></li>
            <li><%= link_to "lOGOUT", logout_path, method: "delete" %></li>
          <%else %>
           <li><%= link_to "lOGIN", login_path %></li>
          <% end %>
        </ul>
      </nav>
    </div>
  </header>
  <div class="container">
    <%= yield %>
  </div>
   <%= debug(params) if Rails.env.development? %>
</body>
</html>
