<!DOCTYPE html>
<html>
<head>
  <title>Fakebook</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

  <script>
    $(bosy)
  </script>
</head>
<body>
  <header>
    <div class="header">
      <%= link_to "fAKEbOOK", root_path, id: "logo" , class: "logo"%>
      <nav>
        <ul class="gnb">
          <li><%= link_to "hOME",   root_path %></li>
          <% if logged_in?%>
            <li><%= link_to "uSERS",   users_path %></li>
            <li><%= link_to "pROFILE",   current_user %></li>
            <!--<li><%= link_to "sETTINGS",   edit_user_path(current_user) %></li>-->
            <li><%= link_to "lOGOUT", logout_path, method: "delete" %></li>
          <%else %>
           <li><%= link_to "lOGIN", login_path %></li>
          <% end %>
        </ul>
      </nav>
    </div>
  </header>

  <% if logged_in?%>
  <div id="chatting">
    <div class="chat_titlebar">Chatting</div>
    <div class="chat_area">
      <div id="chat_content">
        <!-- Chatting Area -->
      </div>
      <div id="input_content">
        <input id="chat_message" type="text" />
        <button id="send_message">Send</button>
      </div>

      <script>
        $(".chat_area").hide();
        $(".chat_titlebar").toggle(function() {
          $(".chat_area").show();
          scrollToBottom();
        }, function() {
          $(".chat_area").hide();
        });

        $(document).ready(function(){
          var mUrl = "/chat_get?last_id=0";
          $.ajax({
            url: mUrl,
            type: 'POST',
            format: JSON,
            success: function(messages) {
              var msgType = "myMsg";
              $.each(messages, function(i, msg){
                if(msg.sender_id == <%= current_user.id%>){
                  msgType = "myMsg";
                }else{
                  msgType = "otherMsg";
                }
                addMessage(msgType, msg.id, msg.sender_name, msg.text);
              });
            }
          });
        });

        var myMsg = "<p class='right' value='@id@'>@text@</p>";
        var otherMsg = "<p class='left' value='@id@'><span>@name@: </span>@text@</p>";
        var sysMsg = "<p class='system'><span>@name@ </span>Join</p>";

        $("#send_message").click(function(){
          sendMessage($("#chat_message").val());
          $('#chat_message').focus();
        });
        $('#chat_message').keyup(function(e){
          if(e.keyCode == 13)
          {
            sendMessage($("#chat_message").val());
          }
        });
        function sendMessage(text){
          if(text == '') return;

          var mUrl = '/chat_send?text='+text+"&sender_id=<%=current_user.id%>&sender_name=<%=current_user.name%>";
          $.ajax({
            url: mUrl,
            type: 'POST',
            format: JSON,
            success: function(message) {
              addMessage("myMsg", message.id, "<%= current_user.name%>",text);
              $('#chat_message').val("");
              scrollToBottom();
            }
          });
        }
        function addMessage(type, id, ownerName, text){
          var msg = "";
          if(type == 'myMsg'){
            msg = myMsg;
          }else{
            msg = otherMsg;
          }
          $("#chat_content").append(msg.replace("@id@",id).replace("@name@", ownerName).replace("@text@", text));
          scrollToBottom();
        }
        function scrollToBottom(){
          $("#chat_content").scrollTop($("#chat_content").get(0).scrollHeight);
        }

        function isNumber(n) {
          return !isNaN(parseFloat(n)) && isFinite(n);
        }
        //Rolling for Receiving Messages
        setInterval(function(){
          var last_id = $("#chat_content p:last").attr("value");
          if(!isNumber(last_id)) last_id=0;
            var mUrl = "/chat_get?last_id="+last_id;
            $.ajax({
                url: mUrl,
                type: 'POST',
                format: JSON,
                success: function(messages) {
                    var msgType = "myMsg";
                    $.each(messages, function(i, msg){
                        if(msg.sender_id == <%= current_user.id%>){
                            msgType = "myMsg";
                        }else{
                            msgType = "otherMsg";
                        }
                        addMessage(msgType, msg.id, msg.sender_name, msg.text);
                    });
                }
            });
        }, 1000);
      </script>
    </div>
  </div>
  <% end %>

  <div class="container">
    <%= yield %>
  </div>
  <footer>
    <div style="clear: both;">
      <p>Copyright ⓒ http://www.Fakebook.com. All rights reserved.</p>
      <ul>
        <li><%= link_to "HELP",   help_path  %></li>
        <li><%= link_to "ABOUT",  about_path %></li>
      </ul>
    </div>
  </footer>
   <!--<%= debug(params) if Rails.env.development? %>-->
</body>

<script>
  $(".btn_delete").click(function(){
    var mUrl = '/microposts/'+$(this).val();
    $.ajax({
      url: mUrl,
      type: 'delete',
      success: function(result) {
        location.reload();
      }
    });
    location.reload();
  });
</script>

<% if logged_in?%>
<script>
  $(".comment_submit").click(function(){
    var comment = $(this).siblings(".comment_input").val();
    if(comment == "") {
      alert("Enter the comments!");
      return;
    }

    var mUrl = "/comment_post?post_id="+$(this).val()+"&user_id=<%= current_user.id%>&text="+comment;
    $.ajax({
      url: mUrl,
      type: 'post',
      format: JSON,
      success: function(result) {
        //$(this).siblings(".comment_input").val("");
        //location.reload();
      }
    });
    location.reload();
  });

  $(".comment_delete").click(function(){
    var mUrl = "/comment_delete?comment_id="+$(this).val();
    $.ajax({
      url: mUrl,
      type: 'post',
      format: JSON,
      success: function(result) {
        location.reload();
      }
    });
  });

  $(".comment_edit").click(function(){
    var area = $(this).parent().siblings(".text").children(".edit_comment_area");
    area.show();
  });

  $(".comment_edit_confirm").click(function(){
    var mUrl = "/comment_edit?comment_id="+$(this).val()+"&text="+$(this).siblings(".for_edit").val();
    $.ajax({
      url: mUrl,
      type: 'post',
      format: JSON,
      success: function(result) {
        location.reload();
      }
    });
  });
  $(".comment_edit_cancel").click(function(){
    var area = $(this).parent();
    area.hide();
  });
</script>
<% end %>
</html>
